html, body {
    width: 100%;
    margin: 0px;
    padding: 2%;
    box-sizing: border-box;
}

.main {
    padding: 2%;
}

.section {
    margin: 2% 0;
}

.section-separator {
    display: inline;
}

/*SECTION - FIRST SECTION*/
.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.face-new {
    display: flex;
    flex-direction: row;
}

.face-newImage {
    width: 50%;
}

.face-newTitle {

}

.face-newText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.update-time {

}

.first-section-news {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*SECTION - SECOND SECTION*/
.second-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.second-section-new {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.second-section-newImage {
    width: 50%;
    padding: 5%5%;
}

.second-section-newText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*SECTION - THIRD SECTION*/
.third-rowSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.third-section-rowNew {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.third-columnSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.third-section-columnNew {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.third-section-newImage {
    width: 95%;
    padding: 5px;
}

.third-section-newText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

